Repository manakuro/project-management-demo-frontend: changes, and which lefthook commands are due for each by the changed paths.
All: lint, tsc

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |
        npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
        git add {staged_files}
    tsc:
      glob: "*.{ts,tsx}"
      run: npx tsc

fix: update key for `NavListItem` in Favorites
  src/components/features/organisms/Navigation/CustomNav/Favorites/Favorites.tsx
Due: lint, tsc

refactor: simplify map callback in Favorites
  src/components/features/organisms/Navigation/CustomNav/Favorites/Favorites.tsx
Due: lint, tsc

ci: update workflows to use pnpm and latest actions
  .github/workflows/chromatic_dev.yml
  .github/workflows/chromatic_main.yml
Due: none

build: update Node.js and pnpm versions
  .node-version
  README.md
  package.json
Due: lint

chore: remove ESLint configuration and related dependencies
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: lint

chore: clean up unused Yarn and ESLint configurations
  .eslintignore
  .yarnrc.yml
  biome.json
Due: lint

refactor: update lefthook commands for Next.js
  lefthook.yml
Due: none

refactor: update dependencies and align versions
  apps/nextjs/package.json
  apps/nextjs/src/components/ui/molecules/Toast/Toast.tsx
  pnpm-lock.yaml
Due: lint, tsc

refactor: add api to apps
  apps/nextjs/README.md
Due: none

ci: update frontend CI workflow configuration
  .github/workflows/frontend-ci.yml
Due: none

test: migrate from Jest to Vitest
  apps/nextjs/__mocks__/firebase/app.ts
  apps/nextjs/__mocks__/firebase/auth.ts
  apps/nextjs/__mocks__/next/router.ts
  apps/nextjs/package.json
  apps/nextjs/src/shared/__tests__/formatDate.test.ts
  apps/nextjs/src/shared/utils/__tests__/uniq.test.ts
  apps/nextjs/tsconfig.jest.json
  apps/nextjs/tsconfig.json
  apps/nextjs/vitest.config.ts
  apps/nextjs/vitest/global.ts
  apps/nextjs/vitest/mock.ts
  apps/nextjs/vitest/setup.ts
  pnpm-lock.yaml
Due: lint, tsc

test: skip failing Home container test and clean up Vitest configuration
  apps/nextjs/src/pages/Home/__tests__/Container.test.tsx
  apps/nextjs/vitest.config.ts
Due: lint, tsc

ci: update Chromatic workflows for Next.js scope
  .github/workflows/chromatic_dev.yml
  .github/workflows/chromatic_main.yml
Due: none

chore: upgrade Chromatic to v13.1.2 and update workflow configuration
  .github/workflows/chromatic_dev.yml
  apps/nextjs/package.json
  apps/nextjs/src/pages/Projects/Projects.stories.tsx
  pnpm-lock.yaml
Due: lint, tsc

ci: update Chromatic action version to latest
  .github/workflows/chromatic_main.yml
Due: none

docs: update and restructure READMEs
  README.md
  apps/api/README.md
  apps/nextjs/README.md
  apps/nextjs/docs/setup.md
Due: none

doc: fix README (#60)
  .github/workflows/chromatic_main.yml
  README.md
  apps/api/README.md
  apps/nextjs/README.md
  apps/nextjs/docs/setup.md
Due: none

docs: add DeepWiki badge to README
  README.md
Due: none

docs: add DeepWiki badge to README (#61)
  README.md
Due: none

docs: add CLAUDE.md with project guidelines
  CLAUDE.md
Due: none

refactor: clean up unused selectors and constants
  apps/nextjs/src/store/entities/teammatesTaskSection/atom.ts
  apps/nextjs/src/store/util/createState.ts
Due: lint, tsc

chore: add claude config
  .claude/commands/AI.md
  .claude/settings.local.json
  .gitignore
Due: lint

build: add jotai
  apps/nextjs/package.json
  pnpm-lock.yaml
Due: lint

refactor: migrate to jotai
  apps/nextjs/package.json
  apps/nextjs/src/store/util/createState.ts
  pnpm-lock.yaml
Due: lint, tsc

refactor: migrate to jotai in teammateTask
  apps/nextjs/src/store/entities/teammateTask/atom.ts
  apps/nextjs/src/store/entities/teammateTask/hooks/useResetTeammateTask.ts
  apps/nextjs/src/store/entities/teammateTask/hooks/useTeammateTask.ts
  apps/nextjs/src/store/entities/teammateTask/hooks/useTeammateTaskCommand.ts
  apps/nextjs/src/store/entities/teammateTask/hooks/useTeammateTaskCreatedSubscription.ts
  apps/nextjs/src/store/entities/teammateTask/hooks/useTeammateTaskResponse.ts
  apps/nextjs/src/store/entities/teammateTask/hooks/useTeammateTaskUpdatedSubscription.ts
  apps/nextjs/src/store/entities/teammateTask/hooks/useUpsert.ts
Due: lint, tsc

docs: add Calude Code to README
  .claude/commands/ai_instructions.md
  .claude/settings.local.json
  docs/ai-instructions-1.png
Due: lint

docs: add README
  README.md
Due: none

chore: add specification research agent config
  .claude/agents/spec.md
  .claude/settings.local.json
Due: lint

refactor: migrate from Recoil to new AuthProvider implementation
  apps/nextjs/package.json
  apps/nextjs/pages/_app.tsx
  apps/nextjs/src/hooks/useAuth.tsx
  apps/nextjs/src/providers/AuthProvider.tsx
  apps/nextjs/src/shared/apollo/ApolloProvider.tsx
  pnpm-lock.yaml
Due: lint, tsc

refactor: optimize useMemo usage in useProjectIdsByTaskId
  apps/nextjs/src/store/entities/projectTask/hooks/useProjectIdsByTaskId.ts
Due: lint, tsc
